@import "bourbon"
@import "helpers/_reset.sass"
@import "basic/**/*.*"
@import "blocks/*.*"
@import "libs/*.*"
@import "pages/*.*"
@import "../pug/blocks/**/*.sass"
//---addSmartScript---//

*::-webkit-input-placeholder
	color: #424242
	opacity: 1


*:-moz-placeholder
	color: #424242
	opacity: 1

*::-moz-placeholder
	color: #424242
	opacity: 1

*:-ms-input-placeholder
	color: #424242
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #424242

body input:required:valid,
body textarea:required:valid
	color: #424242

body
	font-size: 14px
	min-width: 1200px
	position: relative
	line-height: 1.3
	font-family: $helvetica
	font-weight: normal
	overflow-x: hidden
	color: #000

.container
	max-width: 1200px
	padding: 0 15px
	margin: 0 auto

.hidden
	display: none

.sp-retina,
.sp-hover,
.sp-normal
	display: inline-block

//ALWAYS END
@import "basic/_media.sass"
